.btn-lg {
    background-color: fuchsia;
    color: black;
    border-color: black;
    width: 55%;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 2%;
   
    

}

.btn-lg:active:focus:hover {
    background-color: fuchsia;
}
.score {
    color: fuchsia;
    border: solid;
}

.container {

    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    
}

.timerSection {
    position: absolute;
    top: 0;
    right: 0;
    
}

.main {
    text-align: center;
}

#initials {
    width: 20%;
    
}

.back {
    margin-top: .5%;
    margin-left: .5%;
    background-color: fuchsia;
    color: black

}





