.btn-lg {
    background-color: fuchsia;
    color: black;
    border-color: black;
    width: 50%
    

}

.btn-lg:active:focus:hover {
    background-color: fuchsia;
}
.score {
    color: fuchsia;
    border: solid;
}

.container {
    position: absolute;
    margin-left: 30%;
    margin-top: 10%;
    width: 40%;
    height: 40%;
    box-sizing: border-box;
    text-align: center;
}





